<div class = "background-wrapper">
    <div class="flex flex-col items-center gap-10 p-9 min-h-screen">
        <div class="font-semibold text-[50px] leading-12 md:text-7xl md:leading-19">
            <div>About Me</div>
        </div>

        <div class="max-w-2xl flex flex-col gap-6 text-neutral-200">
            <!-- About Me -->
            <div class="rounded-lg p-6 bg-neutral-900/50 flex flex-col gap-3" data-aos="fade-up">
                <div class="text-justify text-[15px]">
                    I am a passionate and fast-learning developer with experience in 
                    front-end development and UI/UX design. I've worked on full-stack 
                    projects using Angular, Django, and PostgreSQL, building responsive 
                    and user-friendly web applications. My foundation in design allows me 
                    to create intuitive interfaces that enhance user experience, while my 
                    development skills help bring those designs to life with clean, 
                    efficient code. I enjoy working across the stack and collaborating 
                    with teams to solve real-world problems. Currently, I'm focused on 
                    expanding my skill set by learning new technologies and best practices 
                    in modern web development, aiming to build scalable, impactful digital 
                    solutions.      
                </div>
            </div>

            <!-- Skills -->
            <div class="flex flex-col gap-1" data-aos="fade-up">
                <h4 class="rounded-lg p-6 text-2xl font-medium bg-neutral-900/50">
                    My Skills
                </h4>
                <div class="rounded-lg p-6 bg-neutral-900/50 flex flex-col">
                    <div class="flex flex-wrap gap-4">
                        <ng-container *ngFor="let item of navItems">
                        <a [href]="item.link" target="_blank" rel="noopener noreferrer" class="w-13 h-13 flex items-center justify-center">
                            <img [src]="item.icon" class="max-w-full max-h-full">
                        </a>
                        </ng-container>
                    </div>
                </div>
            </div>

            <!-- Education -->  
            <div class="flex flex-col gap-1" data-aos="fade-up">
                <h4 class="rounded-lg p-6 text-2xl font-medium bg-neutral-900/50">
                    Education
                </h4>
                <div class="rounded-lg p-6 bg-neutral-900/50 text-neutral-200">
                    <div class="flex gap-4 max-sm:flex-col">
                        <a href="https://smu.edu.in/smit/" target="_blank" rel="noopener noreferrer">
                            <img src="assets/images/dept/manipal.png" class = "min-w-16.5 h-15.5">
                        </a>
                        <div class = "w-full">
                            <div class="text-base font-semibold">
                                B.Tech in Computer Science & Engineering
                            </div>
                            <div class = "text-sm font-light md:flex justify-between">
                                <p>Sikkim Manipal Institute of Technology</p>
                                <p>2021-2025</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contact Me -->  
            <app-contact-me data-aos="fade-up"></app-contact-me>
        </div>
    </div><br><br><br>
</div>